html, body {
    height: 100%;
}

.fieldset {
    margin: 0;
}

.alert p {
    margin: 0;
}

.header .navbar-brand img {
    max-width: 30px;
}

.marketplace-main .fieldset.jumbotron {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

.marketplace-main .fieldset.jumbotron .title {
    margin-bottom: 1.5rem;
}

.marketplace-main .fieldset.jumbotron > form {
    margin-bottom: 1rem;
}

.marketplace-main .fieldset.jumbotron > form:last-child {
    margin: 0;
}

.marketplace-main .fieldset.jumbotron .form-inline .form-group.mb-2 {
    margin-left: 0 !important;
}

.products .product.card .card-img-top {
    max-width: 100%;
}

.products .product.card .card-body {
    padding-bottom: 0;
}

.products .product.card p {
    margin-bottom: 0;
}

.products .product.card .other-info.list-group > .list-group-item:first-child {
    padding-top: 0;
    padding-bottom: 0.5rem;
}

.products .product.card .other-info.list-group > .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products .product.card .other-info.list-group > .list-group-item .shop-name {
    width: 100%;
    margin-top: 0.5rem;
}

.container .card {
    margin-bottom: 1.5rem;
}

.container .card .image {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

.container .card .image img {
    top: 0;
    position: absolute;
    bottom: 0;
}
