<?php /** @var $this ClientCart */ ?>
<!doctype html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Dashboard utente</title>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="<?= "client_dashboard.php" ?>">
            <img src="../../assets/images/logo.png" alt="Marketplace">
            <span>Marketplace</span>
        </a>
    </nav>
</header>
<main class="container marketplace-main">
    <div class="alerts">
        <?php if ($this->getError()): ?>
            <div class="alert alert-danger>">
                <p><?= $this->getError() ?></p>
            </div>
        <?php elseif ($this->getSuccess()): ?>
            <div class="alert alert-success">
                <p><?= $this->getSuccess() ?></p>
            </div>
        <?php elseif ($this->getInfo()): ?>
            <div class="alert alert-primary">
                <p><?= $this->getInfo() ?></p>
            </div>
        <?php endif; ?>
    </div>
    <div class="fieldset jumbotron">
        <h2 class="title">La tua lista di acquisti</h2>

        <?php if ($this->getProducts() && count($this->getProducts()) > 0): ?>
        <div class="products row">
            <?php foreach ($this->getProducts() as $product): ?>
                <div class="col-md-3">
                    <div class="product card border-dark">
                        <div class="image">
                            <?php $productImage = ($product["product"]["image"])? $product["product"]["image"] : $this->getDefaultImage(); ?>
                            <img class="card-img-top" src="<?= $productImage ?>" alt="<?= $product["product"]["name"] ?>">
                        </div>
                        <div class="card-body text-dark">
                            <h5 class="name card-title"><?= $product["product"]["name"] ?></h5>
                            <div class="description card-text">
                                <p><?= $product["product"]["description"] ?></p>
                            </div>
                        </div>
                        <ul class="other-info list-group list-group-flush">
                            <li class="list-group-item"></li>
                            <li class="list-group-item">
                                <div class="qty"><p>Qty: <?= $product["product"]["qty"] ?></p></div>
                                <div class="price"><p>Prezzo: &euro;&nbsp;<?= $product["product"]["price"] ?></p></div>
                                <div class="shop-name"><p>Presso: <?= $product["shop"]["name"] ?></p></div>
                            </li>
                        </ul>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <?php else: ?>
            <p class="message">Non hai ancora aggiunto nessun prodotto!</p>
        <?php endif; ?>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>