<?php /** @var $this ClientDashboard */ ?>
<!doctype html>
<html lang="it-IT">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../../assets/css/main.css">
        <title>Dashboard utente</title>
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <a class="navbar-brand" href="<?= "client_dashboard.php" ?>">
                    <img src="../../assets/images/logo.png" alt="Marketplace">
                    <span>Marketplace</span>
                </a>
            </nav>
        </header>
        <main class="container marketplace-main">
            <div class="fieldset jumbotron">
                <h2 class="title">Benvenuto su Marketplace</h2>
                <h4 class="info">Cerca prodotti</h4>
                <form action="<?= "client_result.php" ?>" method="post" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="hidden" name="method" value="search_product" />
                        <input placeholder="Query" type="text" name="query" class="input input-default form-control form-control-md" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md mb-2">Cerca!</button>
                </form>

                <h4 class="info">Cerca negozi</h4>
                <form action="<?= "client_result.php" ?>" method="post" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="hidden" name="method" value="search_shop">
                        <input type="text" placeholder="Query" name="query" class="input input-default form-control form-control-md" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md mb-2">Cerca!</button>
                </form>

                <h4 class="info">Cerca in negozio</h4>
                <form action="<?= "client_result.php" ?>" method="post" class="form-inline">
                    <input type="hidden" name="method" value="search_product" />
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="search_product_shop">Seleziona negozio</label>
                        <select name="shop" class="form-control" id="search_product_shop">
                            <?php foreach ($this->getShops() as $shop): ?>
                                <option value="<?= $shop["shop"]["id"] ?>"><?= $shop["shop"]["name"] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" placeholder="Query" name="query" class="input input-default form-control form-control-md">
                    </div>
                    <button type="submit" class="btn btn-primary btn-md mb-2">Cerca!</button>
                </form>
            </div>
        </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>