<?php /** @var $this ClientResult */ ?>
<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../../assets/css/main.css">
        <title>Risultati</title>
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <a class="navbar-brand" href="<?= "client_dashboard.php" ?>">
                    <img src="../../assets/images/logo.png" alt="Marketplace">
                    <span>Marketplace</span>
                </a>
            </nav>
        </header>
        <main class="container">
            <h1><?= $this->getTitle(); ?></h1>
            <?php $data = $this->getData(); ?>
            <?php if (count($data) > 0): ?>
                <div class="data-found">
                    <?php if ($this->isProductSearch()): ?>
                        <div class="products row">
                            <?php foreach ($data as $product): ?>
                            <div class="col-md-3">
                                <div class="product card border-dark">
                                    <div class="image">
                                        <?php $productImage = ($product["product"]["image"])? $product["product"]["image"] : $this->getDefaultImage(); ?>
                                        <img class="card-img-top" src="<?= $productImage ?>" alt="<?= $product["product"]["name"] ?>">
                                    </div>
                                    <div class="card-body text-dark">
                                        <h5 class="name card-title"><?= $product["product"]["name"] ?></h5>
                                        <div class="description card-text">
                                            <p><?= $product["product"]["description"] ?></p>
                                        </div>
                                    </div>
                                    <ul class="other-info list-group list-group-flush">
                                        <li class="list-group-item"></li>
                                        <li class="list-group-item">
                                            <div class="qty"><p>Qty: <?= $product["product"]["qty"] ?></p></div>
                                            <div class="price"><p>Prezzo: &euro;&nbsp;<?= $product["product"]["price"] ?></p></div>
                                            <div class="shop-name"><p>Presso: <?= $product["shop"]["name"] ?></p></div>
                                            <div class="add-to-cart">
                                                <a href="<?= "client_cart.php?product_id={$product["product"]["id"]}" ?>" class="btn btn-success">Aggiungi al carrello</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <?php endforeach; ?>
                        </div>
                    <?php else: ?>
                        <div class="shops row">
                            <?php foreach ($data as $shop): ?>
                            <div class="col-md-3">
                                <div class="shop card border-dark">
                                    <div class="image">
                                        <img class="card-img-top" src="<?= $this->getDefaultImage() ?>" alt="<?= $shop["shop"]["name"] ?>">
                                    </div>
                                    <div class="card-body text-dark">
                                        <h5 class="name card-title">
                                            <?= $shop["shop"]["name"] ?>
                                        </h5>
                                        <div class="address description card-text">
                                            <address><?= $shop["shop"]["address"] ?></address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach; ?>
                        </div>
                    <?php endif; ?>
                </div>
            <?php else: ?>
                <p class="no-data-found">Nessun elemento trovato con query <?= $_POST["query"] ?></p>
            <?php endif; ?>
        </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
