<?php /** @var $this MerchantAccount */ ?>
<!doctype html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Account negoziante</title>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="<?= "client_dashboard.php" ?>">
            <img src="../../assets/images/logo.png" alt="Marketplace">
            <span>Marketplace</span>
        </a>
    </nav>
</header>
<main class="marketplace-main container">
    <div class="alerts">
        <?php if ($this->getErrorMessage()): ?>
        <div class="alert alert-danger" role="alert"><p><?php echo $this->getErrorMessage() ?></p></div>
        <?php endif; ?>
    </div>
    <div class="fieldset jumbotron">
        <h2 class="title">Effettua il login o registrati!</h2>

        <div class="row">
            <div class="form-container login col-md-6">
                <h4 class="info">Login</h4>
                <form action="<?= "merchant_account.php" ?>" method="post">
                    <input type="hidden" name="method" value="login" />
                    <div class="form-group">
                        <label for="username_login">Username</label>
                        <input placeholder="alex.romanof" type="text" id="username_login" name="username" class="input input-default form-control form-control-md" required>
                    </div>
                    <div class="form-group">
                        <label for="password_login">Password</label>
                        <input placeholder="********" type="password" id="password_login" name="password" class="input input-default form-control form-control-md" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" name="submit" value="Login" />
                    </div>
                </form>
            </div>
            <div class="form-container register col-md-6">
                <h4 class="info">Registrati</h4>
                <form action="<?= "merchant_account.php" ?>" method="post">
                    <input type="hidden" name="method" value="register">
                    <div class="form-group">
                        <label for="username_register">Username</label>
                        <input placeholder="pasquale.giaccio" id="username_register" type="text" name="username" class="input input-default form-control form-control-md" required>
                    </div>
                    <div class="form-group">
                        <label for="password_register">Password</label>
                        <input placeholder="********" id="password_register" type="password" name="password" class="input input-default form-control form-control-md" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" name="submit" value="Iscriviti" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>