<?php /** @var $this MerchantDashboard */ ?>
<!doctype html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Dashboard negoziante - <?= $this->getMerchantUsername() ?></title>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="<?= "client_dashboard.php" ?>">
            <img src="../../assets/images/logo.png" alt="Marketplace">
            <span>Marketplace</span>
        </a>
    </nav>
</header>
<main class="marketplace-main container">
    <div class="alerts">
        <?php if ($this->getMessage()): ?>
        <div class="alert alert-<?= $this->getMessageType() ?>">
            <p><?= $this->getMessage() ?></p>
        </div>
        <?php endif; ?>
    </div>
    <div class="fieldset jumbotron">
        <div class="row">
            <div class="form-container create-product col-md-6">
                <h5 class="info">Crea prodotto</h5>
                <form action="<?= "merchant_dashboard.php" ?>" method="post">
                    <input type="hidden" name="method" value="new_product" />
                    <div class="form-group">
                        <label for="create_product_name">Nome prodotto</label>
                        <input placeholder="IPhone X" type="text" id="create_product_name"
                               name="data[name]" class="input input-default form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="create_product_description">Descrizione prodotto</label>
                        <textarea placeholder="Il nuovo modello di IPhone..." id="create_product_description"
                               name="data[description]" class="input input-default form-control" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="create_product_price">Prezzo prodotto</label>
                        <input placeholder="1299.99" type="text" id="create_product_price"
                               name="data[price]" class="input input-default form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="create_qty_product">Quantità prodotto</label>
                        <input placeholder="10" type="text"
                               name="data[qty]" id="create_qty_product"
                               class="input input-default form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="create_image_product">URL Immagine prodotto</label>
                        <input placeholder="https://picsum.photos/275/150" type="text"
                               name="data[image]" id="create_image_product"
                               class="input input-default form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="merchant_shops">Seleziona negozio</label>
                        <select name="data[shop]" id="merchant_shops" class="form-control">
                            <?php foreach ($this->getShops() as $shop): ?>
                                <option value="<?= $shop["shop"]["name"] ?>"><?= $shop["shop"]["name"] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" name="submit" value="Crea prodotto" />
                    </div>
                </form>
            </div>

            <div class="form-container create-shop col-md-6">
                <h5 class="info">Crea negozio</h5>
                <form action="<?= "merchant_dashboard.php" ?>" method="post">
                    <input type="hidden" name="method" value="new_shop">
                    <div class="form-group">
                        <label for="create_shop_name">Nome negozio</label>
                        <input placeholder="Amazon srl" type="text" id="create_shop_name"
                               name="data[name]" class="input input-default form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="create_shop_address">Indirizzo negozio</label>
                        <input placeholder="via Sandro Pertini 45" type="text" id="create_shop_address"
                               name="data[address]" class="input input-default form-control" required>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" name="submit" value="Crea negozio" />
                    </div>
                </form>
            </div>

            <div class="form-container remove-product col-md-6">
                <h5 class="info">Rimuovi prodotto</h5>
                <form action="<?= "merchant_dashboard.php" ?>" method="post">
                    <input type="hidden" name="method" value="remove_product">

                    <div class="form-group">
                        <label for="merchant_shops_product_remove">Seleziona negozio</label>
                        <select name="data[shop]" class="form-control" id="merchant_shops_product_remove">
                            <?php foreach ($this->getShops() as $shop): ?>
                                <option value="<?= $shop["shop"]["name"] ?>"><?= $shop["shop"]["name"] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="merchant_products_remove">Seleziona prodotto</label>
                        <select name="data[product]" class="form-control" id="merchant_products_remove">
                            <?php foreach ($this->getProducts() as $product): ?>
                                <option value="<?= $product["product"]["name"] ?>"><?= $product["product"]["name"] ?> - <?= $product["shop"]["name"] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" name="submit" value="Cancella prodotto" />
                    </div>
                </form>
            </div>
            <div class="form-container remove-shop col-md-6">
                <h5 class="info">Rimuovi negozio</h5>
                <form action="<?= "merchant_dashboard.php" ?>" method="post">
                    <input type="hidden" name="method" value="remove_shop">

                    <div class="form-group">
                        <label for="merchant_shops_remove">Seleziona negozio</label>
                        <select name="data[shop]" class="form-control" id="merchant_shops_remove">
                            <?php foreach ($this->getShops() as $shop): ?>
                                <option value="<?= $shop["shop"]["name"] ?>"><?= $shop["shop"]["name"] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" name="submit" value="Cancella negozio" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>